*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

img{
    padding-top: 0.5 em;
    width: 10%;

}
nav{

    background-color: steelblue;    
    text-align: center;
}

nav a{

    color: #fff;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;

}

nav a:hover{

    color: tomato ;
}

section{
float: left;
height: auto;
margin: 0 0.5em 0 0.5em;
width: 60%;

}

article{
    border: 1px solid #ccc;
    margin-top: 0.5em;
    padding: 1em;
    ;
}

p{
    text-align: justify;
}

aside{
background-color:#f7f7f7 ;
height: auto;
margin-top: 0.5em;
padding: 1em;
padding-bottom: 2.5em;
width: 37.0%;
position: absolute;
right: 0;

}

footer{
    background-color: steelblue;
    bottom: 0;
    float: left;
    padding: 1em 0 1em 0;
    position: fixed ;
    width: 100%;

}

footer p{

    color: #fff;
    font-size: 0.9em;
    text-align: center;
}